.input-wrapper {
  position: relative;
}

.mb-2 {
  margin-bottom: 1.8rem;
}

.input-wrapper div {
  position: absolute;
}

.left-icon {
  left: 0px;
  padding: 0.36rem 0.438rem;
}

.right-icon {
  padding: 0.36rem 0.438rem;
}
.input-field {
  width: 100%;
  outline: none;
}

.error-message {
  color: #d9534f;
  font-size: 0.75rem;
  margin-bottom: 0.6rem;
}
