.input-wrapper {
  position: relative;
}

.mb-2 {
  margin-bottom: 1.8rem;
}

.input-wrapper div {
  position: absolute;
}

.left-eye-icon {
  right: 0px;
  padding: 0.36rem 0.438rem;
}

.right-eye-icon {
  left: 0px;
  padding: 0.36rem 0.438rem;
}

.right-icon {
  padding: 0.36rem 0.438rem;
}
.input-field {
  width: 100%;
  height: 42px;
  outline: none;
}

.pr {
  padding-right: 1.6rem;
}

.pl {
  padding-left: 1.6rem;
}

.error-message {
  color: #d9534f;
  font-size: 0.75rem;
  margin-bottom: 0.6rem;
}
